<p>icon example:</p>
{{icon-component icon="loading" size=1 tooltip="some tooltip"}}
{{icon-component icon="loading" size=2 tooltip="new tooltip" status="error"}}
<br><br><br><br>
{{icon-component icon="loading" size=3 tooltip="another tooltip" status="warning"}}
{{icon-component icon="loading" size=4 tooltip="whatever tooltip" status="info"}}

<br><br>
{{icon-component icon="loading" size=5 tooltip="success tooltip" status="success"}}
